html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.EventsMainDiv {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.EventContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    min-height: 90vh;          
    width: 100%;
    z-index: 1;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    z-index: -1;
}

.EventsCarousel {
    display: flex;
    align-items: center;     
    justify-content: center;  
    height: 100%;             
    min-height: 400px;        
    transition: opacity 0.3s;
    opacity: 1;
}

.EventCarousel.fade{
    opacity: 0.3;
}

.slide-left {
    transform: translateX(-150%);
}

.slide-right {
    transform: translateX(150%);
}

.EmptyEventCard {
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
  }

.EventsNavigation {
    position: absolute;
    bottom: 23vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel-button {
    background-color: #adff2f;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.carousel-button.disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.carousel-button:hover:not(.disabled) {
    background-color: #9acd32;
}

.arrow-icon {
    width: 20px;
    height: 20px;
}

.arrow-icon.left {
    transform: rotate(180deg); 
}

.EventsTitle {
    font-family: 'cyberpunk';
    font-size: 3rem;
    color:#9acd32;
    font-weight: normal;
    margin-bottom: 30px;
}

.carousel-page-indicator {
    font-family: 'cyberpunk';    
    font-size: 1.2rem;
    color: #9acd32;
}   