body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: "cyberpunk";
  src: local("SDGlitch_Demo"),
  url("./font/SDGlitch_Demo.ttf") format("truetype");
}

@font-face{
  font-family: "body";
  src: local("fsalbert-extrabold"),
  url("./font/fsalbert-extrabold.otf") format("truetype");
}

button{
  cursor: pointer;
}
